<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Node Test</title>

  <!-- Bootstrap core CSS -->
  <link href="/build/css/app.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body ng-app="jamout">

      <div class="container">

        <div class="row" ng-controller="TrackController as tracks">
          <div class="col-lg-3">
            <h1>Tracks</h1>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="track in tracks.list">{{ track.name }}</li>
            </ul>

              <!--<input type="text" ng-model="search.q" /><br />-->
            <button type="submit" class="btn btn-default" onclick="openSearchModal()">Add Track</button>

          </div>
        </div>

      </div><!-- /.container -->

      <!-- Modal -->
      <div class="modal fade" id="searchModal" ng-controller="SearchController as search">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Search</h4>
            </div>

            <div class="modal-body">
              <form ng-submit="search.search()">
                <input type="text" class="form-control" ng-model="search.q" placeholder="Track name" /><br />
                <button type="submit" class="btn btn-default">Search</button>
              </form>

              <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in search.results.items">
                  <a href ng-click="search.select($index)">
                    {{ item.snippet.title }}
                  </a>
                </li>
              </ul>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/build/js/app.js"></script>
    <script src="/build/js/angular_stuff.js"></script>
  </body>
  </html>
